@font-face {
  font-family: "iconfont"; /* Project id 3964535 */
  src: url('../iconfont/iconfont.eot?t=1680167944230'); /* IE9 */
  src: url('../iconfont/iconfont.eot?t=1680167944230#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../iconfont/iconfont.woff2?t=1680167944230') format('woff2'),
       url('../iconfont/iconfont.woff?t=1680167944230') format('woff'),
       url('../iconfont/iconfont.ttf?t=1680167944230') format('truetype'),
       url('../iconfont/iconfont.svg?t=1680167944230#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-qianbi:before {
  content: "\e611";
}

.icon-feidian:before {
  content: "\e772";
}

.icon-xiajiantou:before {
  content: "\e60a";
}

.icon-xiajiantou-copy:before {
  content: "\eb63";
}

.icon-guanzhu:before {
  content: "\e631";
}

.icon-android:before {
  content: "\e669";
}

.icon-sousuo:before {
  content: "\e651";
}

.icon-backtop:before {
  content: "\e61d";
}

.icon-lingdang:before {
  content: "\e8c0";
}

.icon-caogao:before {
  content: "\e66b";
}

.icon-writecode:before {
  content: "\e615";
}

.icon-quanzi:before {
  content: "\e61e";
}

.icon-rengongzhineng:before {
  content: "\eb62";
}

.icon-houduan:before {
  content: "\e602";
}

.icon-qianduan:before {
  content: "\e605";
}

.icon-gongju:before {
  content: "\e60b";
}

.icon-zhinanzhen:before {
  content: "\e61f";
}

.icon-yuedu:before {
  content: "\e810";
}

.icon-daimarensheng:before {
  content: "\e991";
}

.icon-biji:before {
  content: "\e6bf";
}

.icon-ios:before {
  content: "\e626";
}

